@import './styles/datepicker.css';
@import './styles/select.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@layer components {
    body {
        @apply bg-[#ffffff] text-[#121212];
        @apply dark:bg-[#121212] dark:text-[#ffffff];
    }
}